<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       <add name="ClientDatabase"
			connectionString="server=sql5.freemysqlhosting.net;uid=sql5485659;pwd=nvRrl4Z7j9;database=sql5485659"
            providerName="MySql.Data.MySqlClient" />

		<!-- connectionString="server=sql5.freemysqlhosting.net;user id=sql5485659;password=nvRrl4Z7j9;persistsecurityinfo=True;database=sql5485659"
            providerName="MySql.Data.MySqlClient" /> -->

	
		   
 <!-- connectionString="server=127.0.0.1;user id=Aaron;password=abc123;persistsecurityinfo=True;database=client_schedule"
            providerName="MySql.Data.MySqlClient" /> -->
	
		
		
		   <!-- connectionString="server=127.0.0.1;user id=sqlUser;password=Passw0rd!;persistsecurityinfo=True;database=client_schedule"
		providerName="MySql.Data.MySqlClient" />  -->


	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>